@import "tailwindcss";

* {
  font-family: "DM Sans", sans-serif;
}

.font-mono {
  font-family: "DM Mono", monospace;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1fae5;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
